<header>
    <nav>
        <ul>
            <li><a href="/">airbnb</a></li>
            <li><a href="/user/booking">Booking</a></li>
            <li><a href="/user/favourites">Favourites</a></li>
            <li><a href="/host/add-home">Add Home</a></li>
            <li><a href="/host/host-home">host home</a></li>
        </ul>
    </nav>
</header>
