<%- include('../partials/head') %>
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="/navbar.css">
<link rel="stylesheet" href="/addHomeForm.css">
</head>
<body>
  <%- include('../partials/nav') %>
  <h1>Home registered successfully<h1>
    <h3>Your home has been added to our listimngs</h3>
    <a href = '/'>Return to home</a>
</body>
</html>